body{
  background-color: #000000;
  font-family: 'Tapestry', cursive
}


form{
  background-color: grey;
  width: 25%;
  border-radius: 22%;
}
input[type="text"]{
  background-color:#000000;
  border:0px;
  width:244px;
  height: 60px;
  font-size: 34px;
  color: white;
  margin-bottom: 5px;
  border-radius: 15px;
  padding-top: 10px;
}
input[type="button"]{
  width:60px;border:0px;
  height: 60px;
  color: white;
  background-color:cornflowerblue;
  font-size: 34px;
  font-weight: bold;
      }


input[type="button"] {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #b40000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(0, 0, 0);
}

input[type="button"]:hover {
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}

input[type="button"]:active {
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(5px);
}
h1{
  background-image: linear-gradient(to right, #950000 0%, black 100%);
  border-radius: 11%;
  width: 20%;
  color: white;
}